<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <div th:switch="${functions}">
    <h2 th:case="null">Functions do not exist</h2>
    <div th:case="*">
      <table>
        <thead>
          <tr>
            <th>Function</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Analyze</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="function : ${functions}">
            <td th:text="${function.toString()}"></td>
            <td><a th:href="@{/edit/{id}(id=${function.id})}">Edit</a></td>
            <td><a th:href="@{/delete/{id}(id=${function.id})}">Delete</a></td>
            <td><a th:href="@{/analyze/{id}(id=${function.id})}">Analyze</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p><a href="/newfunction">Add a new function</a></p>
</body>
</html>