<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
</head>
<body>
  <h1>SignUp</h1>
  <form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
    <label for="c1"></label><input th:field="*{c1}" type="text" name="c1" id="c1">
    <label for="c2"></label><input th:field="*{c2}" type="text" name="c2" id="c2">
    <label for="c3"></label><input th:field="*{c3}" type="text" name="c3" id="c3">
    <label for="c4"></label><input th:field="*{c4}" type="text" name="c4" id="c4">
    <label for="c5"></label><input th:field="*{c5}" type="text" name="c5" id="c5">
    <button type="submit">Add New Function</button>
  </form>
</body>
</html>